body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}


/*
 *   HEADER
 */

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c6c6c6;
}

.header-logo-img {
  height: 10px;
  width: 138px;
  margin: 0px;
  padding: 1rem 0rem;
}
@media (min-width: 768px) {
  .header-logo-img {
    padding: 1.5rem 0rem;
  }
}

/*
 * Product Card section
 */


.product-card-title {
  margin: 1rem;
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
}
@media (min-width: 768px) {
  .product-card-title {
    margin: 1.5rem 0rem 1.5rem 0.5rem;
    font-size: 1.5rem;
    line-height: 28px;
  }
}
.product-card-showcase {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0;
}
@media (min-width: 768px) {
  .product-card-showcase{
    padding-left: 0.5rem;
  }
  .product-card-showcase img {
    min-width: 432px;
    height: 576px;
  }
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

.product-card-info-price {
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  color: #111111;
}

.product-card-info-colour {
  margin: 0;
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #171717;
}

.product-card-info-itemid {
  margin: 0;
  margin-top: 18px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #171717;
}
@media (min-width: 768px) {
  .product-card-info, .product-card-info-price, .product-card-info-itemid {
    margin: 0;
  }
}

.product-card-info-button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.77rem;
  padding: 19px;
  border-radius: 50px;
  border: 1px solid #232122;
  background-color: #232122;
}

.product-card-info-button-pressed {
  display: inline-block;
  margin-top: 1rem;
  padding: 19px;
  border-radius: 50px;
  border: 1px solid #232122;
  background-color: #cfa880;
}

.product-card-button-help {
  padding: 0;
  padding-top: 0.5rem;
  background-color: #FFFFFF;
  border: none;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
}

.product-card-buttons {
 padding: 2rem 0.5rem 3rem 0.5rem;
 border-bottom: 1px solid #c6c6c6;
}
@media (min-width: 768px) {
  .product-card-buttons {
    padding: 2rem 0rem 3rem 0rem;
    border: none;
  }
}


.product-card-buttons-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.product-card-button {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

#product-card-button-size {
  border: solid 1px #171717;
  background-color: #171717;
  color: #FFFFFF;
}

#product-card-button-find {
  border: solid 1px #999999;
  background-color: #FFFFFF;
}

/*
 * Product description section
 */


.product-desc {
  position: relative;
  padding: 2rem 1rem;
  border-bottom: 1px solid #c6c6c6;
}
@media (min-width: 768px) {
  .product-desc {
    padding: 1.5rem 0.5rem;
    border: none;
  }
}

.product-desc-title {
  margin: 0;
  padding-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
}

.product-desc-title:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0;
  border-color: #171717 transparent transparent;
  position: absolute;
  top: 2.4rem;
  right: 1rem;
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .product-desc-title {
    padding-bottom: 1rem;
  }
  .product-desc-title:after {
    display: none;
  }
}

.product-desc-textarea {
  display: flex;
  flex-flow: column;
}

.product-desc-textarea p {
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
}

.product-desc-textarea p:last-of-type {
  margin-bottom: 1.5rem;
}

.product-desc-list ul {
  -webkit-padding-start: 0;
  margin: 0;
  list-style: none;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
}

/*
 * Product shipping section
 */


.product-shipping {
  position: relative;
  padding: 2rem 1rem;
  border-bottom: 1px solid #c6c6c6;
}

.product-shipping-title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
}

.product-shipping-title:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0;
  border-color: #171717 transparent transparent;
  position: absolute;
  top: 2.4rem;
  right: 1rem;
}

/*
 *  Recommendations section
 */


.product-recommendations {
  padding: 3rem 1rem 0rem 1rem;
}

.product-recommendations-title {
  margin: 0;
  display: inline-block;
  width: auto;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171717;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
}

.product-recommendations-goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

.product-recommendations-goods-item {
  flex-basis: 8.125rem;
}

.product-recommendations-goods-item-img {
  display: block;
  width: 130px;
  height: 174px;
}

.product-recommendations-goods-item-title {
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-family: 'Lora', serif;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
}

.product-recommendations-goods-item-price {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color:#999999;
}

/*
 *  More for you section
 */

.product-moreforyou {
  padding-left: 1rem;
  padding-top: 1rem;
}

.product-moreforyou-title {
  margin: 0;
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  color: #111111;
}

.product-moreforyou-link {
  margin: 0;
  display: block;
  padding-top: 1rem;
  font-size: 14px;
  font-family: 'Lora', serif;
  line-height: 17px;
  font-style: italic;
  font-weight: 400;
}

/*
 *  FOOTER
 */

footer {
  padding: 1rem;
  margin-top: 4rem;
  background-color: #f3f3f3;
}

.footer-button {
  padding: 0;
  padding-top: 1rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  color: #999999;
  background-color: #f3f3f3;
}

.footer-needhelp {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 19px;
  color: #171717;
  font-weight: 700;
}

.footer-contact {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-style: italic;
  line-height: 17px;
}
