body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}


/*
 *   HEADER
 */

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c6c6c6;
}
.header-logo {
  display: inline-block;
}

.header-logo-img {
  display: block;
  height: 10px;
  width: 138px;
  margin: 0px;
  padding: 1rem 0rem;
}
@media only screen and (min-width: 768px) {
  .header-logo-img {
    padding: 1.5rem 0rem;
  }
}

/*
 * Product Card section
 */

.product-card-title {
  margin: 0;
  padding: 1rem 0.5rem;
  font-family: 'Lora', serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
}
@media only screen and (min-width: 768px) {
  .product-card-title {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 28px;
  }
}

.product-card-showcase {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 0 -.5rem;
}
@media only screen and (min-width: 768px) {
  .product-card-showcase  {
    margin: 0;
  }
}
.product-car-showcase-pic {
  flex-shrink: 0;
}
.product-card-showcase img {
  display: block;
  object-fit: contain;
  width: auto;
  height: 400px;
}
@media only screen and (min-width: 768px) {
  .product-card-showcase img {
    height: 576px;
  }
}


.product-card-info-and-buttons {
  padding: 0;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c6c6c6;
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

.product-card-info-price {
  margin: 0;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  color: #111111;
}

.product-card-info-colour {
  margin: 0;
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #171717;
}

.product-card-info-itemid {
  margin: 0;
  margin-top: 1.125rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #171717;
}

@media only screen and (min-width: 768px) {
  .product-card-info, .product-card-info-price {
    margin: 0;
  }
  .product-card-info-itemid {
    margin-top: 2px;
  }
}

.product-card-info-button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 0.77rem;
  padding: 19px;
  border-radius: 50px;
  border: 1px solid #232122;
  font-size: 0;
  background-color: #232122;
}

.product-card-info-button-pressed {
  display: inline-block;
  margin-top: 1rem;
  padding: 19px;
  border-radius: 50px;
  border: 1px solid #232122;
  font-size: 0;
  background-color: #cfa880;
}

.product-card-button-help {
  padding: 0;
  padding-top: 0.5rem;
  background-color: #FFFFFF;
  border: none;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
}

.product-card-buttons {
 padding: 2rem 0.5rem 3rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .product-card-buttons {
    padding: 2rem 0rem 3rem 0rem;
  }
}


.product-card-buttons-container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.product-card-button {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  line-height: 14px;
  text-align: center;
}

.product-card-button-size {
  border: solid 1px #171717;
  background-color: #171717;
  color: #FFFFFF;
}

.product-card-button-find {
  border: solid 1px #999999;
  background-color: #FFFFFF;
}


/*
 *  Decoration
 */
 .product-decoration-line {
   margin: 0;
   border: none;
   height: 1px;
   color: #c6c6c6;
   background-color: #c6c6c6;

 }
@media only screen and (min-width: 768px) {
  .product-decoration-line {
    display: none;
  }
}


/*
 * Product description section
 */


.product-desc-heading {
  display: flex;
  flex-flow: column;
  padding: 2rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .product-desc-heading {
    padding: 1.5rem 0 1rem 0;
  }
}
.product-desc-title {
  display: block;
  padding: 0rem;
  background-color: transparent;
  border: none;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-desc-title:after {
  content: '';
  background-image: url(img/triangle.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 30%;
  right: 0rem;
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .product-desc-title:after {
    display: none;
  }
}

.product-desc-textarea {
  display: flex;
  flex-flow: column;
  padding: 0 0.5rem 2rem 0.5rem;
}
@media only screen and (min-width: 768px) {
  .product-desc-textarea {
    padding: 0 0 1.5rem 0;
  }
}

.product-desc-textarea p {
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
}

.product-desc-textarea ul {
  -webkit-padding-start: 0;
  margin: 0;
  padding-top: 1.5rem;
  list-style: none;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
}

/*
 * Product shipping section
 */


 .product-shipping-img {
   display: none;
 }
@media only screen and (min-width: 768px) {
  .product-shipping-img {
    display: block;
    width: 100%;
  }
}

.product-shipping-heading {
  display: flex;
  flex-flow: column;
  padding: 2rem 0.5rem;
}
@media only screen and (min-width: 768px) {
.product-shipping-heading {
  display: none;
 }
}
.product-shipping-title-mobile {
  display: block;
  padding: 0rem;
  background-color: transparent;
  border: none;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-shipping-title-mobile:after {
  content: '';
  background-image: url(img/triangle.svg);
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 30%;
  right: 0rem;
}
@media only screen and (min-width: 768px) {

  .product-shipping-title-mobile, .product-shipping-title-mobile:after {
    display: none;
  }
}
.product-shipping-title {
    display: none;
    margin: 0;
    font-size: 1rem;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .product-shipping-title {
      display: block;
  }
}
.product-shipping-options-desc {
  display: none;
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 1.5rem;
  font-size: 0.75rem;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  .product-shipping-options-desc {
      display: block;
  }
}

.product-shipping-options-title {
  display: none;
  margin: 0;
  font-size: 0.75rem;
  line-height: 14px;
}
@media only screen and (min-width: 768px) {
  .product-shipping-options-title {
      display: block;
  }
}


/*
 *  Recommendations section
 */


.product-recommendations-title {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-left: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171717;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
}
@media only screen and (min-width: 768px) {
  .product-recommendations-title {
    padding-top: 1.5rem;
    margin-left: 0;
  }
}
.product-recommendations-goods {
  padding-top: 1.5rem;
}
.product-recommendations-goods-item {
  display: block;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .product-recommendations-goods {
    padding-top: 1rem;
  }
}

.product-recommendations-goods-item-img {
  display:block;
  width: 100%;
}

.product-recommendations-goods-item-title {
  display: inline-block;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-family: 'Lora', serif;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
}

.product-recommendations-goods-item-price {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color:#999999;
}

/*
 *  More for you section
 */


.product-moreforyou-title {
  margin: 0;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  color: #111111;
}

.product-moreforyou-link {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  font-family: 'Lora', serif;
  line-height: 17px;
  font-style: italic;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .product-moreforyou-title, .product-moreforyou-link {
    display: none;
  }
}
/*
 *  FOOTER
 */

footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
  footer {
    margin-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.footer-nav {
  display: none;
  padding-bottom: 0.25rem;
}
@media only screen and (min-width: 768px) {
  .footer-nav {
    display: block;
  }
}

.footer-nav-title {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
}

.footer-nav-link {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;
}

@media only screen and (min-width: 768px) {
.footer-language-buttons {
  display: flex;
  }
}
.footer-language-button {
  display: block;
  padding: 1rem 0.5rem 0rem 0.5rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  color: #999999;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
  .footer-language-button {
    margin-right: 1.5rem;
    margin-left: 0rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-needhelp {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 19px;
  color: #171717;
  font-weight: 700;
}

.footer-contact {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-style: italic;
  line-height: 17px;
}

@media only screen and (min-width: 768px) {
  .footer-needhelp, .footer-contact {
    display: none;
  }
}
