body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}


/*
 * Product description section
 */



/*
 * Product shipping section
 */



/*
 *  Recommendations section
 */



/*
 *  More for you section
 */


.product-moreforyou-title {
  margin: 0;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  color: #111111;
}

.product-moreforyou-link {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  font-family: 'Lora', serif;
  line-height: 17px;
  font-style: italic;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .product-moreforyou-title, .product-moreforyou-link {
    display: none;
  }
}
/*
 *  FOOTER
 */

footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
  footer {
    margin-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.footer-nav {
  display: none;
  padding-bottom: 0.25rem;
}
@media only screen and (min-width: 768px) {
  .footer-nav {
    display: block;
  }
}

.footer-nav-title {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
}

.footer-nav-link {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;
}

@media only screen and (min-width: 768px) {
.footer-language-buttons {
  display: flex;
  }
}
.footer-language-button {
  display: block;
  padding: 1rem 0.5rem 0rem 0.5rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  color: #999999;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
  .footer-language-button {
    margin-right: 1.5rem;
    margin-left: 0rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-needhelp {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 19px;
  color: #171717;
  font-weight: 700;
}

.footer-contact {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-style: italic;
  line-height: 17px;
}

@media only screen and (min-width: 768px) {
  .footer-needhelp, .footer-contact {
    display: none;
  }
}
