body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}


/*
 * Product description section
 */



/*
 * Product shipping section
 */


 .product-shipping-img {
   display: none;
 }
@media only screen and (min-width: 768px) {
  .product-shipping-img {
    display: block;
    width: 100%;
  }
}

.product-shipping-heading {
  display: flex;
  flex-flow: column;
  padding: 2rem 0.5rem;
}
@media only screen and (min-width: 768px) {
.product-shipping-heading {
  display: none;
 }
}
.product-shipping-title-mobile {
  display: block;
  padding: 0rem;
  background-color: transparent;
  border: none;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.product-shipping-title-mobile:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 30%;
  right: 0rem;
}
@media only screen and (min-width: 768px) {

  .product-shipping-title-mobile, .product-shipping-title-mobile:after {
    display: none;
  }
}
.product-shipping-title {
    display: none;
    margin: 0;
    font-size: 1rem;
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
  .product-shipping-title {
      display: block;
  }
}
.product-shipping-options-desc {
  display: none;
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 1.5rem;
  font-size: 0.75rem;
  line-height: 16px;
}
@media only screen and (min-width: 768px) {
  .product-shipping-options-desc {
      display: block;
  }
}

.product-shipping-options-title {
  display: none;
  margin: 0;
  font-size: 0.75rem;
  line-height: 14px;
}
@media only screen and (min-width: 768px) {
  .product-shipping-options-title {
      display: block;
  }
}


/*
 *  Recommendations section
 */


.product-recommendations-title {
  display: inline-block;
  width: auto;
  margin: 0;
  margin-left: 0.5rem;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #171717;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
}
@media only screen and (min-width: 768px) {
  .product-recommendations-title {
    padding-top: 1.5rem;
    margin-left: 0;
  }
}
.product-recommendations-goods {
  padding-top: 1.5rem;
}
.product-recommendations-goods-item {
  display: block;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .product-recommendations-goods {
    padding-top: 1rem;
  }
}

.product-recommendations-goods-item-img {
  display:block;
  width: 100%;
}

.product-recommendations-goods-item-title {
  display: inline-block;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1rem;
  font-family: 'Lora', serif;
  line-height: 19px;
  font-weight: 400;
  text-align: left;
}

.product-recommendations-goods-item-price {
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color:#999999;
}

/*
 *  More for you section
 */


.product-moreforyou-title {
  margin: 0;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-bottom: 1px solid #111111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 19px;
  color: #111111;
}

.product-moreforyou-link {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  font-family: 'Lora', serif;
  line-height: 17px;
  font-style: italic;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .product-moreforyou-title, .product-moreforyou-link {
    display: none;
  }
}
/*
 *  FOOTER
 */

footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
  footer {
    margin-top: 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }
}
.footer-nav {
  display: none;
  padding-bottom: 0.25rem;
}
@media only screen and (min-width: 768px) {
  .footer-nav {
    display: block;
  }
}

.footer-nav-title {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.75rem;
}

.footer-nav-link {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #999999;
}

@media only screen and (min-width: 768px) {
.footer-language-buttons {
  display: flex;
  }
}
.footer-language-button {
  display: block;
  padding: 1rem 0.5rem 0rem 0.5rem;
  border: none;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 16px;
  color: #999999;
  background-color: #f3f3f3;
}
@media only screen and (min-width: 768px) {
  .footer-language-button {
    margin-right: 1.5rem;
    margin-left: 0rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-needhelp {
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: 19px;
  color: #171717;
  font-weight: 700;
}

.footer-contact {
  margin: 0;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-align: center;
  font-family: 'Lora', serif;
  font-style: italic;
  line-height: 17px;
}

@media only screen and (min-width: 768px) {
  .footer-needhelp, .footer-contact {
    display: none;
  }
}
